<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<h2>Create Member</h2>

<p id="msg"></p>

<form id="createForm">

<label>Name</label>
<input type="text" id="name" required>

<label>Age</label>
<input type="number" id="age" required>

<label>Dept ID</label>
<input type="number" id="dept" required>

<button type="submit">Create</button>

</form>

<script>
fetch("/check-admin", {
    credentials: "include"
})
.then(res=>res.json())
.then(data=>{
if(!data.is_admin){
document.getElementById("msg").innerText = "You do NOT have edit access"
document.querySelector("form").style.display = "none"
}
})

document.getElementById("createForm").addEventListener("submit", function(e){

e.preventDefault()

fetch("/members", {
method:"POST",
credentials: "include",
headers:{
"Content-Type":"application/json"
},
body:JSON.stringify({
full_name: document.getElementById("name").value,
age: document.getElementById("age").value,
dept_id: document.getElementById("dept").value
})
})
.then(res=>res.json())
.then(data=>{
if(data.message){
window.location.href="/success"
}else{
alert(data.error)
}
})
})
</script>