<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<h2>Delete Member</h2>

<p id="msg"></p>

<form id="deleteForm">

<label>Member ID</label>
<input type="number" id="id" required>

<button type="submit">Delete</button>

</form>

<script>
fetch("/check-admin", {
    credentials: "include"
})
.then(res=>res.json())
.then(data=>{
if(!data.is_admin){
document.getElementById("msg").innerText = "You do NOT have delete access"
document.querySelector("form").style.display = "none"
}
})

document.getElementById("deleteForm").addEventListener("submit", function(e){

e.preventDefault()

let id = document.getElementById("id").value

fetch(`/members/${id}`, {
method:"DELETE", credentials: "include",
})
.then(res=>res.json())
.then(data=>{
if(data.message){
window.location.href="/success"
}else{
alert(data.error)
}
})
})
</script>