<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<h2>Members List</h2>

<input type="text" id="search" placeholder="Search by name">
<button onclick="searchMember()">Search</button>

<table border="1" id="membersTable">
<tr>
<th>ID</th>
<th>Name</th>
<th>Designation</th>
</tr>
</table>

<script>

function loadMembers(){
fetch("/check-admin", {
    credentials: "include"
})
.then(res=>res.json())
.then(data=>{

let table = document.getElementById("membersTable")

data.forEach(member=>{
let row = table.insertRow()

row.insertCell(0).innerText = member[0]
row.insertCell(1).innerText = member[1]
row.insertCell(2).innerText = member[2]
})
})
}

function searchMember(){

let name = document.getElementById("search").value

fetch(`/search?name=${name}`, {
    credentials: "include"
})
.then(res=>res.json())
.then(data=>{

let table = document.getElementById("membersTable")
table.innerHTML = `
<tr>
<th>ID</th>
<th>Name</th>
</tr>
`

data.forEach(member=>{
let row = table.insertRow()

row.insertCell(0).innerText = member[0]
row.insertCell(1).innerText = member[1]
})
})
}

loadMembers()

</script>