<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<h2>Update Member</h2>

<p id="msg"></p>

<form id="updateForm">

<label>Member ID</label>
<input type="number" id="id" required>

<label>New Name</label>
<input type="text" id="name">

<button type="submit">Update</button>

</form>

<script>
fetch("/check-admin", {
    credentials: "include"
})
.then(res=>res.json())
.then(data=>{
if(!data.is_admin){
document.getElementById("msg").innerText = "You do NOT have update access"
document.querySelector("form").style.display = "none"
}
})

document.getElementById("updateForm").addEventListener("submit", function(e){

e.preventDefault()

let id = document.getElementById("id").value

fetch(`/members/${id}`, {
method:"PUT",
credentials: "include",
headers:{
"Content-Type":"application/json"
},
body:JSON.stringify({
full_name: document.getElementById("name").value
})
})
.then(res=>res.json())
.then(data=>{
if(data.message){
window.location.href="/success"
}else{
alert(data.error)
}
})
})
</script>